.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.main {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
}

.input-div {
  background-color: wheat;
  display: inline-flex;
  flex-direction: column;
  padding-top: 150px;
  gap: 10px;
  width: 40%;
}
.child {
  text-align: end;
  padding-right: 20px;
}
/* okk */



.output-div {
  background-color: aqua;
}

.graph-div{
  background-color: skyblue;
  padding-bottom: 50px;
  height:350px;
  width: 700px;
  
}

h2 {
  padding-left: 10px;
}

h4 {
  text-align: center;

}



.data-div {
  background-color: skyblue;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
} 


@media screen and (max-width: 780px) {
  .main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
  }

  .input-div {
    background-color: wheat;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;

  }

  .output-div {
    width: 100%;
    height: 100%;
    text-align: center;
  }
.graph-div{
  background-color: skyblue;
  padding-bottom: 20px;
  height:auto;
  width: auto;
}
  .data-div {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
  }
} 

